footer {
  background: #f1f1f1;
  padding: 70px 0;
}
footer .address {
  margin: 22px 0 13px;
  font-size: 14px;
}

.footer-box__title {
  width: 100%;
  margin: 0 0 25px;
  font-weight: bold;
}

.footer-menu {
  font-size: 14px;
}
.footer-menu li {
  margin: 0 0 19px;
}
.footer-menu li:last-child {
  margin: 0;
}
.footer-menu li a {
  color: #232323;
  position: relative;
  z-index: 1;
}
.footer-menu li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #c21212;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}
.footer-menu li a:hover {
  color: #c21212;
}
.footer-menu li a:hover::before {
  width: 100%;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-social li {
  margin: 0 12px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  min-width: 49px;
  padding: 13px;
  background: rgba(0, 0, 0, 0.1);
  fill: #fff;
}
.list-social li a:hover {
  background: rgba(0, 0, 0, 0.4);
}

.footer-bottom {
  margin: 40px 0 0;
  font-size: 13px;
  color: #999;
}
.footer-bottom .box-text {
  text-align: right;
}

.modal-dialog {
  max-width: 440px;
}

.modal-content {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
          box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
  background-color: #fff;
  padding: 40px;
}

.modal-header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 0;
  border: none;
}
.modal-header .btn-close {
  position: absolute;
  padding: 10px;
  margin: 0;
  top: 7px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background: #f1f1f1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-title {
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.modal-body {
  padding: 17px 0 0;
  border: none;
}
.modal-body .box-text {
  text-align: center;
  margin: 0 auto 27px;
}

.form-modal label {
  margin: 0 0 14px;
}
.form-modal label:last-child {
  margin: 0;
}
.form-modal input::-webkit-input-placeholder, .form-modal textarea::-webkit-input-placeholder {
  color: #999;
}
.form-modal input::-moz-placeholder, .form-modal textarea::-moz-placeholder {
  color: #999;
}
.form-modal input:-ms-input-placeholder, .form-modal textarea:-ms-input-placeholder {
  color: #999;
}
.form-modal input::-ms-input-placeholder, .form-modal textarea::-ms-input-placeholder {
  color: #999;
}
.form-modal input::placeholder, .form-modal textarea::placeholder {
  color: #999;
}
.form-modal textarea {
  height: 120px;
  padding: 18px 15px;
}
.form-modal .checkbox {
  max-width: none;
}
.form-modal .checkbox a {
  display: inline;
}
.form-modal [type=submit] {
  width: 100%;
}