header {
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .phone {
  font-size: 18px;
}
header.fixed {
  -webkit-box-shadow: 0px 14px 10px 0 rgba(29, 29, 27, 0.07);
          box-shadow: 0px 14px 10px 0 rgba(29, 29, 27, 0.07);
}
header.fixed .logo {
  font-size: 7.5px;
  letter-spacing: 1.43px;
}
header.fixed .logo-icon {
  max-width: 127px;
}
header.fixed .btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header.fixed .header-bottom {
  display: none;
  background: #fff;
  border-top: 1px solid #f1f1f1;
}

.header-top {
  padding: 14px 0;
  font-size: 13px;
}

.logo {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 2.28px;
  font-size: 12px;
  color: #232323;
}
.logo:hover {
  color: #232323;
}

.logo-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 200px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logo-text {
  margin: 6px 0 0;
  display: block;
}

.form-search {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 430px;
  width: 100%;
}
.form-search [type=submit] {
  position: absolute;
  top: 50%;
  right: 19px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  opacity: 1;
  background: transparent;
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #333;
}
.form-search label {
  margin: 0;
}

.dropdown-location {
  font-size: 13px;
}
.dropdown-location__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9px;
  height: 12px;
  margin: 0 6px 0 0;
  fill: #000;
}
.dropdown-location .dropdown-toggle::after {
  width: 8px;
  height: 5px;
  margin: 0 0 0 7px;
}

.header-contacts {
  position: relative;
  padding: 0 32px 0 0;
  margin: 0 auto;
  text-align: right;
}
.header-contacts .link {
  color: #232323;
  margin: 3px 0 0 auto;
}
.header-contacts .link:hover {
  color: #c21212;
}

.whatsapp-link {
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phone {
  color: #232323;
  font-weight: bold;
}
.phone:hover {
  color: #c21212;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.user-navigation-link {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #232323;
  margin: 0 35px 0 0;
}
.user-navigation-link:last-child {
  margin: 0;
}
.user-navigation-link:hover {
  color: #c21212;
}
.user-navigation-link__value {
  position: absolute;
  background: #c21212;
  border-radius: 50%;
  border: solid 2px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  top: -7px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}
.user-navigation-link__text {
  margin: 8px 0 0;
  display: block;
}
.user-navigation-link__icon {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}

.header-bottom {
  background: #f1f1f1;
  padding: 14px 0;
  font-size: 16px;
}

.nav-menu-user, .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.nav-menu-user li, .nav-menu li {
  margin: 0 70px 0 0;
}
.nav-menu-user li:last-child, .nav-menu li:last-child {
  margin: 0;
}

.nav-menu-user {
  margin: 0 0 0 auto;
}

.btn-burger {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  min-width: 48px;
  background: #f1f1f1;
  position: relative;
  padding: 17px 15px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0 30px 0 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-burger span {
  display: block;
  width: 18px;
  height: 2px;
  background: #232323;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-burger.click span {
  top: 23px;
  position: absolute;
}
.btn-burger.click span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn-burger.click span:last-child {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.btn-burger.click span:nth-child(2) {
  width: 0;
  height: 0;
}