.home {
  margin: 30px 0 0;
}

.advantages {
  margin: 70px 0 40px;
}

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 30px 0;
}
.advantages-box:last-child {
  margin-right: 0;
}
.advantages-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 35px;
  min-width: 30px;
  margin: 0 12px 0 0;
}

.categories-products {
  margin: 0 0 40px;
}
.categories-products__item {
  height: 107px;
  width: 71px;
  margin: 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.categories-products__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.92);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.categories-products__item img {
  max-height: 100%;
  width: 100%;
}

.categories-products-box {
  width: calc(20% - 9px);
  margin: 0 auto 30px 0;
  background: #f1f1f1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
}
.categories-products-box:last-child {
  margin: 0 0 30px;
}
.categories-products-box:hover {
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to top, #edca92, #ba6203);
  border-image-slice: 1;
  -webkit-box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
          box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
}
.categories-products-box:hover .slick-arrow {
  opacity: 0.3;
}
.categories-products-box:hover .categories-products-box__name {
  color: #ba6203;
}
.categories-products-box:hover .categories-products__item::before {
  background: rgba(255, 255, 255, 0.9);
}
.categories-products-box__name {
  color: #232323;
  width: 100%;
  text-align: center;
  margin: 10px auto 26px;
  font-size: 14px;
}

.categories-products-slider {
  width: 100%;
  height: 185px;
  padding: 10px 34px 0;
}
.categories-products-slider .slick-track {
  max-width: 100% !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.categories-products-slider .slick-arrow {
  background: transparent;
  border-radius: none;
  fill: #232323;
  opacity: 0;
}
.categories-products-slider .slick-arrow:hover {
  opacity: 1;
}
.categories-products-slider .slick-prev {
  left: 5px;
}
.categories-products-slider .slick-next {
  right: 5px;
}
.categories-products-slider .slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100% !important;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}
.categories-products-slider .slick-current {
  opacity: 1;
  position: relative;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 2;
}
.categories-products-slider .slick-current .categories-products__item {
  position: relative;
  z-index: 1;
  padding: 0;
  width: 102px;
  height: 165px;
  margin: 0 auto;
}
.categories-products-slider .slick-current .categories-products__item::before {
  opacity: 0;
}
.categories-products-slider .slick-snext {
  opacity: 1;
  -webkit-transform: translate3d(25%, 0, 0px);
          transform: translate3d(25%, 0, 0px);
  z-index: 1;
}
.categories-products-slider .slick-sprev {
  opacity: 1;
  -webkit-transform: translate3d(-25%, 0, 0px);
          transform: translate3d(-25%, 0, 0px);
}

.brands {
  margin: 0 0 50px;
}

.brands-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.brands-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-slider {
  position: relative;
}
.products-slider::before {
  content: "";
  position: absolute;
  right: 0;
  top: 25px;
  height: calc(100% - 25px - 30px - 12px);
  width: 1px;
  z-index: 1;
  background: #f2f2f2;
}
.products-slider .slide {
  padding: 25px 0 30px;
}
.products-slider .slick-dots {
  margin: 0;
}

.product-card {
  width: 100%;
  height: 100%;
  border: solid 1px #f2f2f2;
  background-color: #fff;
  position: relative;
  padding: 9px 10px 34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
}
.product-card__img {
  width: 100%;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-card__img img {
  max-height: 100%;
}
.product-card__body {
  width: 100%;
  max-height: 35px;
  min-height: 35px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  line-height: 1.38;
}
.product-card__body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}
.product-card__name {
  color: #232323;
}
.product-card__name:hover {
  color: #c21212;
}
.product-card__footer {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0 0;
}
.product-card .btn-add-card {
  top: 5px;
  right: 0;
  opacity: 0;
  position: absolute;
}
.product-card:hover {
  -webkit-box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
          box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
  border: solid 1px #f2f2f2;
  z-index: 1;
  position: relative;
}
.product-card:hover .btn-add-card {
  opacity: 1;
}

.list-labels {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #fff;
  line-height: 1;
}
.list-labels li {
  margin: 0 2px 2px 0;
  padding: 5px;
  height: 23px;
}
.list-labels li:last-child {
  margin-right: 0;
}
.list-labels__new {
  height: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(#ba6203), to(#edca92));
  background-image: linear-gradient(to left, #ba6203, #edca92);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-labels__sale {
  background: #c21212;
}

.price {
  margin: 0 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.old-price {
  margin: 0 0 0 9px;
  color: #999;
  font-size: 14px;
  font-weight: normal;
  text-decoration: line-through;
}

.loan-price {
  font-size: 14px;
}

.btn-add-card {
  fill: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #c21212;
  padding: 15px 13px;
}
.btn-add-card:hover {
  background: #f1f1f1;
  fill: #c21212;
}

.categories {
  margin: 0 0 40px;
}

.categories-box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 150px 20px 20px 20px;
}
.categories-box__bg {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories-box .btn {
  padding: 16px 20px;
  border-radius: 0;
  font-weight: normal;
}

.seo-section h2 {
  margin: 0 0 22px;
}

.popular-brands h2 {
  margin: 0 0 28px;
}

.popular-brands-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 0;
}

.popular-brands-box {
  margin: 0 auto 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-brands-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #232323;
  font-size: 14px;
  border-bottom: 2px solid #c21212;
  margin: 0 0 65px;
}
.popular-brands-link .svg-icon {
  margin: 0 0 0 8px;
  width: 13px;
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #000;
}
.popular-brands-link:hover {
  color: #c21212;
}
.popular-brands-link:hover .svg-icon {
  fill: #c21212;
}

.subscribe-section {
  margin: 80px 0 0;
  background-color: #2d2d2d;
  color: #fff;
  padding: 45px 0;
}
.subscribe-section h2 {
  margin: 0 0 14px;
}

.subscribe-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 76px;
  width: 100%;
  margin: 0 35px 0 0;
}

.subscribe-text {
  max-width: 315px;
  width: 100%;
}
.subscribe-text .box-text {
  line-height: 1.5;
}

.form-subdcribe {
  width: calc(100% - 315px - 35px - 76px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 0 50px;
}
.form-subdcribe label {
  width: calc(100% - 150px - 23px);
  margin: 0 auto 0 0;
}
.form-subdcribe button {
  padding: 10px;
  max-width: 150px;
  width: 100%;
}

.consent {
  margin: 12px 0 0;
  width: 100%;
  color: #8c8b8b;
  font-size: 13px;
}

.nav-tabs-delivery {
  border-bottom: solid 1px #dfdfdf;
  font-size: 18px;
  font-weight: bold;
}
.nav-tabs-delivery .nav-item {
  margin: 0 85px 0 0;
}
.nav-tabs-delivery .nav-item:last-child {
  margin: 0;
}
.nav-tabs-delivery .nav-link {
  padding: 0 0 12px;
  font-size: 18px;
}
.nav-tabs-delivery .nav-link::before {
  bottom: 0;
}

.tab-content-delivery {
  padding: 30px 0 0;
}
.tab-content-delivery ul li, .tab-content-delivery ol li {
  margin: 0 0 10px;
}
.tab-content-delivery ul li:last-child, .tab-content-delivery ol li:last-child {
  margin: 0;
}
.tab-content-delivery .box-text {
  max-width: 1110px;
}
.tab-content-delivery .list-delivery li {
  margin: 0 45px 35px 0;
}
.tab-content-delivery .list-delivery li:last-child {
  margin: 0 0 35px;
}

.reserve-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0;
}
.reserve-time img {
  max-width: 34px;
  margin: 0 10px 0 0;
}

.list-delivery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-delivery li {
  margin: 0 45px 35px 0;
  max-width: 104px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-delivery li:last-child {
  margin: 0 0 35px;
  max-width: 198px;
}

.information-delivery-box {
  margin: 40px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 50px;
  background-color: #f1f1f1;
  font-weight: bold;
}
.information-delivery-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
.information-delivery-box__body {
  width: calc(100% - 50px);
  padding: 0 0 0 20px;
}
.information-delivery-box__body p {
  margin: 0 0 10px;
}
.information-delivery-box__body p:last-child {
  margin: 0;
}

.blog-card {
  width: 100%;
  font-size: 14px;
}
.blog-card__img {
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-card__body {
  padding: 20px 0 0;
  width: 100%;
}
.blog-card__title {
  margin: 18px 0 0;
  color: #232323;
  font-size: 16px;
}
.blog-card__title:hover {
  color: #c21212;
}
.blog-card .link-details {
  margin: 19px 0 0;
}
.blog-card:hover .link-details {
  color: #c21212;
}
.blog-card:hover .link-details svg {
  fill: #c21212;
}

.btn-toggle {
  margin: 0 auto;
}

.blog-card-min {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 30px;
  font-size: 13px;
}
.blog-card-min:last-child {
  margin: 0;
}
.blog-card-min__img {
  width: 70px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.blog-card-min__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-card-min__body {
  width: calc(100% - 76px);
  padding: 0 0 0 16px;
}
.blog-card-min .date {
  margin: 0 0 10px;
}
.blog-card-min__title {
  color: #232323;
}
.blog-card-min__title:hover {
  color: #c21212;
}

.date {
  color: #999;
}

.subscribe-blog {
  margin: 30px 0;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
          box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
  border: solid 1px #f2f2f2;
  padding: 20px;
  font-size: 13px;
}
.subscribe-blog h3 {
  text-transform: uppercase;
  width: 100%;
  margin: 0 0 12px;
  font-weight: 700;
}
.subscribe-blog__form {
  margin: 20px 0 0;
  width: 100%;
}
.subscribe-blog__form label {
  margin: 0 0 19px;
}
.subscribe-blog__form label:last-child {
  margin: 0;
}
.subscribe-blog__form .checkbox {
  margin: 19px 0 0;
}
.subscribe-blog__form .form-group {
  width: 100%;
  position: relative;
}
.subscribe-blog__form input {
  padding: 0 48px 0 15px;
  font-size: 14px;
}
.subscribe-blog__form input::-webkit-input-placeholder {
  color: #999;
}
.subscribe-blog__form input::-moz-placeholder {
  color: #999;
}
.subscribe-blog__form input:-ms-input-placeholder {
  color: #999;
}
.subscribe-blog__form input::-ms-input-placeholder {
  color: #999;
}
.subscribe-blog__form input::placeholder {
  color: #999;
}
.subscribe-blog__form [type=submit] {
  position: absolute;
  right: 0;
  top: 0;
  background: #c21212;
  fill: #fff;
  width: 48px;
  height: 100%;
}
.subscribe-blog__form [type=submit] svg {
  width: 13px;
  height: 12px;
}
.subscribe-blog__form [type=submit]:hover {
  background: #f1f1f1;
  fill: #c21212;
}

.banner-blog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-blog img {
  width: 100%;
}