@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #232323;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: solid 1px #c4c4c4;
  border-radius: 0;
  width: 100%;
  height: 48px;
  background: #fff;
  color: #232323;
  font-size: 13px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #232323;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #232323;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #232323;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #232323;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #232323;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 19px 15px;
  height: 200px;
}

[type=radio], [type=checkbox] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.form input, .form textarea {
  font-size: 14px;
}
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #999;
}
.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #999;
}
.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #999;
}
.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  color: #999;
}
.form input::placeholder, .form textarea::placeholder {
  color: #999;
}

.form-callback textarea {
  height: 240px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  height: 48px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-accent {
  background: #c21212;
  color: #fff;
}
.btn-accent:hover {
  background: #f1f1f1;
  color: #333;
}
.btn-accent:disabled {
  opacity: 0.3;
  background: #c21212;
  color: #fff;
  border: none;
}

.btn-grey {
  background: rgba(0, 0, 0, 0.3);
  color: #fefefe;
}
.btn-grey:hover {
  background: #c21212;
  color: #fff;
}

.btn-gradient {
  color: #fff;
  background-image: -webkit-gradient(linear, right top, left top, from(#ba6203), to(#edca92));
  background-image: linear-gradient(to left, #ba6203, #edca92);
}
.btn-gradient:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ba6203), to(#edca92));
  background-image: linear-gradient(to right, #ba6203, #edca92);
  color: #fff;
}

.btn-light-grey {
  background: #f1f1f1;
  color: #232323;
}
.btn-light-grey:hover {
  background: #c21212;
  color: #fff;
}

.btn-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btn-group .btn {
  margin: 0 0 12px;
}
.btn-group .btn:last-child {
  margin: 0;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.list-circle {
  list-style-type: circle;
}

.list-decimal {
  counter-reset: list;
}
.list-decimal li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-decimal li::before {
  content: counter(list);
  counter-increment: list;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 12px 0 0;
  width: 36px;
  height: 36px;
  background: #f1f1f1;
}

.container {
  max-width: 1450px;
  padding: 0 10px;
}

.row {
  margin: 0 -10px;
}
.row > * {
  padding: 0 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.m-70 {
  margin: 70px 0;
}

.p-45 {
  padding: 45px 0;
}

.bg-grey {
  background: #2d2d2d;
  color: #fff;
}

.d-inline {
  display: inline;
}

.font-700 {
  font-weight: bold;
}

a.color-inherit {
  color: inherit;
}
a.color-inherit:hover {
  color: #c21212;
}

a.color-accent {
  color: #c21212;
}
a.color-accent:hover {
  color: #333;
}

.text-decoration {
  text-decoration: underline;
}

.link-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link-details svg {
  width: 15px;
  height: 8px;
  fill: inherit;
}
.link-details:hover {
  color: #c21212;
}
.link-details:hover svg {
  fill: #c21212;
}

.icon-hover {
  display: none;
}

h1 {
  width: 100%;
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 40px;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  width: 100%;
  line-height: 1.38;
}

h3 {
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  margin: 0 0 15px;
}

.h3 {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.dropdown-toggle {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #232323;
}
.dropdown-toggle:hover {
  color: #c21212;
}
.dropdown-toggle:after {
  border: none;
  margin: 0 0 0 15px;
  width: 10px;
  height: 6px;
  background: url("../img/angle-up.svg") no-repeat center;
  background-size: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown-menu {
  border: solid 1px #c4c4c4;
  border-radius: 0;
  font-size: 13px;
}

.nav-link {
  padding: 0;
  color: #232323;
}
.nav-link:hover {
  color: #c21212;
}

.nav-tabs {
  border: none;
  border-radius: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav-tabs .nav-item {
  margin: 0 46px 0 0;
}
.nav-tabs .nav-item:last-child {
  margin: 0;
}
.nav-tabs .nav-link {
  border: none;
  border-radius: 0;
  color: #232323;
  font-size: 14px;
  position: relative;
}
.nav-tabs .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 2px;
  background: #c21212;
  bottom: -5px;
  left: 0;
}
.nav-tabs .nav-link.active {
  background: transparent;
  color: #232323;
}
.nav-tabs .nav-link.active::before {
  width: 100%;
}

.nav-tabs-v2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.box-text {
  line-height: 1.5;
}
.box-text p {
  margin: 0 0 20px;
}
.box-text p:last-child {
  margin: 0;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  position: relative;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 26px 0 0;
  padding: 0;
  list-style: none;
}
.slick-dots li {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0;
  margin: 0 20px 0 0;
  width: 12px;
  height: 12px;
  background: #e5e5e5;
  border-radius: 50%;
}
.slick-dots li:last-child {
  margin: 0;
}
.slick-dots li button {
  display: none;
}
.slick-dots .slick-active {
  background: #c21212;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  padding: 18px;
  fill: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slick-arrow:hover {
  background: #c21212;
}

.slick-next {
  right: 18px;
}

.slick-prev {
  left: 18px;
}

.nav-breadcrumb {
  width: 100%;
  margin: 30px 0 20px;
}

.breadcrumb {
  padding: 0;
  margin: 0;
  background: transparent;
  border-radius: 0;
  font-size: 12px;
  color: #999;
}
.breadcrumb a {
  color: #999;
}
.breadcrumb a:hover {
  color: #c21212;
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  background: url("../img/angle-right.svg") no-repeat center;
  background-size: 100%;
  width: 4px;
  height: 7px;
  margin: 0 10px;
  padding: 0;
  border: none;
}

.breadcrumb-item.active {
  color: #232323;
}

.page-content {
  width: calc(100% - 300px);
  padding: 0 0 0 30px;
}

.page-content-reverse {
  padding: 0 30px 0 0;
}

.sidebar {
  max-width: 300px;
  width: 100%;
}

.sidebar-box {
  width: 100%;
  margin: 0 0 30px;
  background: #f1f1f1;
  padding: 20px 20px 34px;
  font-size: 13px;
}
.sidebar-box__title {
  width: 100%;
  margin: 0 0 20px;
  font-weight: bold;
}
.sidebar-box__menu li {
  margin: 0 0 15px;
}
.sidebar-box__menu li:last-child {
  margin: 0;
}
.sidebar-box__menu li a {
  color: #232323;
}
.sidebar-box__menu li a:hover, .sidebar-box__menu li a.active {
  color: #c21212;
}
.sidebar-box:last-child {
  margin: 0;
}

.page {
  margin: 0 0 150px;
}

.nav-pagination {
  width: 100%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.pagination .page-item {
  margin: 0 17px 0 0;
}
.pagination .page-item:last-child {
  margin: 0;
}
.pagination .page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 50%;
  width: 50px;
  min-width: 50px;
  height: 50px;
  background: #f1f1f1;
  color: #232323;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.pagination .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.pagination .page-link:hover, .pagination .page-link.active {
  color: #fff;
  background: #c21212;
}
.pagination .page-link-arrow {
  border-radius: 0;
  background: transparent;
}
.pagination .page-link-arrow:hover {
  background: transparent;
}
.pagination .page-link-arrow:hover svg {
  fill: #c21212;
}
.pagination .page-link-arrow svg {
  width: 9px;
  height: 15px;
  fill: #232323;
}

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #8c8b8b;
  font-size: 12px;
  line-height: 1.25;
  margin: 19px 0 0;
}
.checkbox input {
  display: none;
}
.checkbox input:checked ~ .checkbox-custom {
  background: #fff url("../img/check.svg") no-repeat center;
  background-size: 12px;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  background-color: #fff;
  border: solid 1px #c4c4c4;
  width: 20px;
  height: 20px;
  min-width: 20px;
  cursor: pointer;
}

.checkbox-v2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #232323;
  font-size: 13px;
  line-height: 1.32;
  font-weight: normal;
}
.checkbox-v2 input:checked ~ .checkbox-custom {
  background: #fff url("../img/check-red.svg") no-repeat center;
  background-size: 14px;
  border-color: #c21212;
}
.checkbox-v2 .checkbox-custom {
  width: 22px;
  height: 22px;
  min-width: 22px;
}

.checkbox-color {
  border-radius: 50%;
  margin: 0 16px 0 0;
  width: 18px;
  height: 18px;
  min-width: 18px;
  border: solid 1px #f2f2f2;
}

.checkbox-color-white {
  background: #fff;
}

.checkbox-color-rhodium {
  background-image: -webkit-gradient(linear, right top, left top, from(#ecedea), color-stop(#f8f8f6), to(#dcdbd8));
  background-image: linear-gradient(to left, #ecedea, #f8f8f6, #dcdbd8);
}

.checkbox-color-silver {
  background-image: -webkit-gradient(linear, right top, left top, from(#bebebe), color-stop(#eee), to(#d2d2d2));
  background-image: linear-gradient(to left, #bebebe, #eee, #d2d2d2);
}

.checkbox-color-blue {
  background: #3d64b0;
}

.checkbox-color-ivory {
  background: #f0e8de;
}

.checkbox-color-black {
  background: #000;
}

.checkbox-color-anthracite {
  background: #606060;
}

.sorting-box {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sorting-box p {
  margin: 0 5px 0 0;
}

.select-my {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 15px 0 0;
  background: #fff url("../img/angle-down.svg") no-repeat right center;
  background-size: 7px;
  cursor: pointer;
}

.text-toggle {
  position: relative;
}
.text-toggle.hide {
  height: 112px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.text-toggle.hide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}

.load-more-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #232323;
  font-size: 14px;
  margin: 15px 0 0;
  text-decoration: underline;
}
.load-more-wrap:hover {
  color: #c21212;
}
.load-more-wrap:hover .svg-icon {
  fill: #c21212;
}
.load-more-wrap .svg-icon {
  margin: 0 0 0 5px;
  width: 11px;
  height: 7px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  fill: #232323;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.load-more-wrap.trigger .svg-icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.link-all-filter {
  margin: 30px 0 0;
}

.btn-clear {
  width: 100%;
  font-size: 14px;
  margin: 30px 0 0;
}
.btn-clear .svg-icon {
  fill: #c21212;
  width: 14px;
  height: 15px;
  min-width: 14px;
  margin: 0 8px 0 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-clear:hover .svg-icon {
  fill: #fff;
}

.list-checkbox-catalog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-checkbox-catalog li {
  width: calc(33.33% - 3px);
}

.checkbox-catalog {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 12px 5px 14px;
  font-size: 13px;
}
.checkbox-catalog input {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: solid 1px #c4c4c4;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.checkbox-catalog input:checked {
  -webkit-box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
          box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
  border-color: #ba6203;
}
.checkbox-catalog input:checked + .checkbox-catalog__icon {
  fill: #ba6203;
}
.checkbox-catalog input:checked ~ .checkbox-catalog__text {
  color: #ba6203;
}
.checkbox-catalog__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22px;
  height: 24px;
  margin: 0 auto 15px;
  fill: #232323;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.checkbox-catalog__text {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-scroll {
  overflow-y: auto;
  max-height: 250px;
}
.list-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 2px;
}
.list-scroll::-webkit-scrollbar-track {
  background-color: #c21212;
  border-radius: 2px;
}
.list-scroll::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-radius: 2px;
}
.list-scroll::-webkit-scrollbar-thumb {
  background-color: #c21212;
  border-radius: 2px;
}
.list-scroll::-webkit-scrollbar-corner {
  background-color: #fff;
  border-radius: 2px;
}
.list-scroll::-webkit-resizer {
  background-color: #c21212;
  border-radius: 2px;
}

.list-checkbox li {
  position: relative;
  width: 100%;
  margin: 0 0 15px;
}
.list-checkbox li:last-child {
  margin: 0;
}

.tooltip-result {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 15px;
  background: #fff;
  z-index: 3;
  font-size: 16px;
  -webkit-box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
          box-shadow: 0px 1px 24px 0 rgba(29, 29, 27, 0.2);
  color: #232323;
}
.tooltip-result:hover {
  color: #c21212;
}
.tooltip-result::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-right: 20px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}