@import "vars"

// header
header
	position: fixed
	z-index: 3
	width: 100%
	top: 0
	left: 0
	background: #fff
	transition: .3s
	.phone
		font-size: 18px
	&.fixed
		box-shadow: 0px 14px 10px 0 rgba(29, 29, 27, 0.07)
		.logo
			font-size: 7.5px
			letter-spacing: 1.43px
		.logo-icon
			max-width: 127px
		.btn-burger
			display: flex
		.header-bottom
			display: none
			background: #fff
			border-top: 1px solid #f1f1f1

.header-top
	padding: 14px 0
	font-size: 13px

.logo
	transition: .3s
	letter-spacing: 2.28px
	font-size: 12px
	color: #232323
	&:hover
		color: #232323

.logo-icon
	@include d-flex
	max-width: 200px
	transition: .3s

.logo-text
	margin: 6px 0 0
	display: block

.form-search
	margin: 0 auto
	display: flex
	align-items: center
	position: relative
	max-width: 430px
	width: 100%
	[type="submit"]
		position: absolute
		top: 50%
		right: 19px
		transform: translate(0,-50%)
		z-index: 1
		opacity: 1
		background: transparent
		width: 15px
		height: 15px
		@include d-flex
		fill: #333
	label
		margin: 0

.dropdown-location
	font-size: 13px
	&__icon
		@include d-flex
		width: 9px
		height: 12px
		margin: 0 6px 0 0
		fill: #000
	.dropdown-toggle
		&::after
			width: 8px
			height: 5px
			margin: 0 0 0 7px

.header-contacts
	position: relative
	padding: 0 32px 0 0
	margin: 0 auto
	text-align: right
	.link
		color: #232323
		margin: 3px 0 0 auto
		&:hover
			color: $accent

.whatsapp-link
	position: absolute
	right: 0
	top: 0
	width: 22px
	height: 22px
	@include d-flex

.phone
	color: #232323
	font-weight: bold
	&:hover
		color: $accent

.user-navigation
	display: flex
	align-items: flex-start
	&-link
		position: relative
		text-align: center
		display: flex
		flex-direction: column
		color: #232323
		margin: 0 35px 0 0
		&:last-child
			margin: 0
		&:hover
			color: $accent
		&__value
			position: absolute
			background: $accent
			border-radius: 50%
			border: solid 2px #fff
			@include d-flex
			z-index: 1
			top: -7px
			right: -10px
			width: 20px
			height: 20px
			color: #fff
			font-size: 11px
			font-weight: bold
		&__text
			margin: 8px 0 0
			display: block
		&__icon
			width: 20px
			height: 20px
			@include d-flex
			margin: 0 auto
			position: relative

.header-bottom
	background: #f1f1f1
	padding: 14px 0
	font-size: 16px

.nav-menu-user, .nav-menu
	display: flex
	align-items: center

	flex-direction: row
	li
		margin: 0 70px 0 0
		&:last-child
			margin: 0

.nav-menu-user
	margin: 0 0 0 auto

.btn-burger
	border-radius: 50%
	width: 48px
	height: 48px
	min-width: 48px
	background: #f1f1f1
	position: relative
	padding: 17px 15px
	display: none
	flex-direction: column
	justify-content: space-between
	align-items: center
	cursor: pointer
	margin: 0 30px 0 0
	transition: .3s
	span
		display: block
		width: 18px
		height: 2px
		background: #232323
		border-radius: 2px
		transition: .3s
	&.click
		span
			top: 23px
			position: absolute
			&:first-child
				transform: rotate(45deg)
			&:last-child
				transform: rotate(135deg)	
			&:nth-child(2)
				width: 0
				height: 0


	