@import "vars"

// header
header
	position: fixed
	z-index: 4
	width: 100%
	top: 0
	left: 0
	background: #fff
	transition: .3s
	.phone
		font-size: 18px
	&.fixed
		box-shadow: 0px 14px 10px 0 rgba(29, 29, 27, 0.07)
		.logo
			font-size: 7.5px
			letter-spacing: 1.43px
		.logo-icon
			max-width: 127px
		.btn-burger
			display: flex
		.header-bottom
			display: none
			background: #fff
			border-top: 1px solid #f1f1f1
	.btn-search
		display: none
	&.not-fixed
		.btn-burger
			display: flex
		.logo
			font-size: 7.5px
			letter-spacing: 1.43px
		.logo-icon
			max-width: 127px 
		.header-bottom
			display: block

.header
	position: absolute
	border-bottom: 1px solid #f1f1f1
	&.fixed
		box-shadow: none
		.logo
			letter-spacing: 2.28px
			font-size: 12px
		.logo-icon
			max-width: 200px
	.header-contacts
		margin: 0 0 0 auto

.header-top
	padding: 14px 0
	font-size: 13px
	position: relative
	z-index: 10000

.logo
	transition: .3s
	letter-spacing: 2.28px
	font-size: 12px
	color: #232323
	&:hover
		color: #232323

.logo-icon
	@include d-flex
	max-width: 200px
	transition: .3s

.logo-text
	margin: 6px 0 0
	display: block

.form-search
	margin: 0 auto
	display: flex
	align-items: center
	position: relative
	max-width: 430px
	width: 100%
	[type="submit"]
		@include d-flex
		position: absolute
		top: 50%
		right: 19px
		transform: translate(0,-50%)
		z-index: 1
		opacity: 1
		background: transparent
		width: 15px
		height: 15px
		fill: #333
	label
		margin: 0

.form-search-result
	position: absolute
	width: 100%
	max-height: 300px
	overflow-y: auto
	top: 100%
	left: 0
	background: #fff
	z-index: 5
	display: none
	.product-card-row

.dropdown-location
	font-size: 13px
	&__icon
		@include d-flex
		width: 9px
		height: 12px
		margin: 0 6px 0 0
		fill: #000
	.dropdown-toggle
		&::after
			width: 8px
			height: 5px
			margin: 0 0 0 7px
	.dropdown-menu
		min-width: 280px
		padding: 10px 10px 20px
		border: none
		margin: 27px 0 0 !important
		filter: drop-shadow(0px 0 5px rgba(29,29,27,.3))
		&::before
			content: ''
			position: absolute
			left: 10px
			top: -20px
			border-bottom: 21px solid #fff
			border-left: 7px solid transparent
			border-right: 7px solid transparent
	.h3
		font-weight: normal
		font-size: 16px
		strong
			display: block
			margin: 5px 0 0
	.btn-group
		width: 100%
		justify-content: space-between
		padding: 0 20px 10px
		.btn
			width: fit-content
			margin: 0
			flex: none
	.dropdown-menu-title
		padding: 20px 20px 0
	.form-search
		max-width: 430px
		input
			background: #f1f1f1
			border: none
			font-size: 13px
			&::placeholder
				color: #232323

.list-cities
	margin: 18px 0 0
	font-size: 14px
	min-height: 400px
	li
		margin: 0 0 11px
		&:last-child
			margin: 0
		a
			position: relative
			color: #232323
			padding: 0 0 0 20px
			&:hover
				color: $accent
			&.checked
				&::before
					content: ''
					position: absolute
					left: 0
					top: 3px
					width: 12px
					height: 10px
					background: url('../img/check.svg') no-repeat center
					background-size: 100%

.header-contacts
	position: relative
	padding: 0 32px 0 0
	margin: 0 auto
	text-align: right
	.link
		color: #232323
		margin: 3px 0 0 auto
		&:hover
			color: $accent

.whatsapp-link
	position: absolute
	right: 0
	top: 0
	width: 22px
	height: 22px
	@include d-flex

.phone
	color: #232323
	font-weight: bold
	&:hover
		color: $accent
	.svg-icon
		display: none

.user-navigation
	display: flex
	align-items: flex-start
	&-link
		position: relative
		text-align: center
		display: flex
		flex-direction: column
		color: #232323
		margin: 0 35px 0 0
		&:last-child
			margin: 0
		&:hover
			color: $accent
		&__value
			position: absolute
			background: $accent
			border-radius: 50%
			border: solid 2px #fff
			@include d-flex
			z-index: 1
			top: -7px
			right: -10px
			width: 20px
			height: 20px
			color: #fff
			font-size: 11px
			font-weight: bold
		&__text
			margin: 8px 0 0
			display: block
		&__icon
			width: 20px
			height: 20px
			@include d-flex
			margin: 0 auto
			position: relative

.header-bottom
	background: #f1f1f1
	// padding: 14px 0
	display: block
	font-size: 16px
	.nav-link
		padding: 14px 0

.nav-menu-user, .nav-menu
	display: flex
	align-items: center

	flex-direction: row
	li
		margin: 0 70px 0 0
		&:last-child
			margin: 0

.nav-menu
	.dropdown-menu
		box-shadow: 0px 0 10px 0 rgba(29, 29, 27, 0.07)
		border: none
		border-radius: 0
		background: #f1f1f1
		min-width: 500px
		top: 100% !important
		font-size: 13px
		padding: 20px 15px 0
		margin: 0 !important
		position: absolute
		transform: none !important
		&__footer
			position: relative
			display: none
			padding: 20px 0
			&::before
				content: ''
				position: absolute
				left: 50%
				top: 0
				transform: translate(-50%,0)
				width: calc(100% + 30px)
				height: 1px
				background: #fff
		.h3
			font-size: 13px
			font-weight: bold
			margin: 0 0 7px
		.dropdown-item
			padding: 3px 0
			&:hover
				background: transparent
				color: $accent
	.dropdown
		&:hover
			>.dropdown-menu
				display: block

.nav-link-all
	display: flex
	align-items: center
	justify-content: center
	margin: 0 auto
	border-bottom: 2px solid $accent
	font-size: 15px
	color: #232323
	svg
		width: 13px
		height: 9px
		margin: 0 0 0 9px
		@include d-flex
		fill: #232323

.dropdown-catalog
	.nav-link
		&:focus
			box-shadow: none
			border: none
	> .dropdown-menu
		position: relative
		display: flex
		align-items: center
		background: transparent
		padding: 0
		font-size: 16px
		box-shadow: none
		top: 0 !important
		min-width: auto
		> .dropdown-menu-list
			flex-wrap: nowrap
			flex-direction: row
			align-items: center
			.dropdown
				// &:hover
				// 	.dropdown-menu
				// 		display: block
				// 		position: absolute

.dropdown-menu-list
	display: flex
	align-items: start
	flex-direction: column

.btn-search
	width: 19px
	height: 19px
	fill: #232323
	align-items: center
	justify-content: center

	&:hover
		fill: $accent

.nav-menu-user
	margin: 0 0 0 auto

.btn-burger
	border-radius: 50%
	width: 48px
	height: 48px
	min-width: 48px
	background: #f1f1f1
	position: relative
	padding: 17px 15px
	display: none
	flex-direction: column
	justify-content: space-between
	align-items: center
	cursor: pointer
	margin: 0 30px 0 0
	transition: .3s
	span
		display: block
		width: 18px
		height: 2px
		background: #232323
		border-radius: 2px
		transition: .3s
	&.click
		span
			top: 23px
			position: absolute
			&:first-child
				transform: rotate(45deg)
			&:last-child
				transform: rotate(135deg)
			&:nth-child(2)
				width: 0
				height: 0

.dropdown-menu-hidden
	display: none
